@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #18294f;
}

h1 {
  text-align: center;
  color: #fff;
  margin-top: 0;
  padding-top: .25em;
}

a:link {
  color: #6c8fe0;
  text-decoration: none;
}

ul {
  padding-left: 0.75em;
}

li {
  list-style-type: none;
  padding: 0.75em;
  color: #6c8fe0;

}
